[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NEST-MICROSERVICES-TESTING/client-gateway.git
	branch = Bestrada
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/NEST-MICROSERVICES-TESTING/products-microservice.git
	branch = Bestrada
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/NEST-MICROSERVICES-TESTING/orders-microservice.git
	branch = Bestrada
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/NEST-MICROSERVICES-TESTING/payments-microservice.git
	branch = Bestrada
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/NEST-MICROSERVICES-TESTING/auth-microservice.git
	branch = Bestrada
